@model Ritmus.ShoppingCart.MvcWebUI.Models.ProductListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/images/@product.Image" />
                    </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">@product.ProductName</h4>
                        <div class="price-wrap h5">
                            <span class="price-new">@product.UnitPrice TL</span>
                        </div> <!-- price-wrap.// -->
                        <a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">Sepete Ekle</a>
                    </figcaption>

                </figure>
            </div> <!-- col // -->
        }
    </div> <!-- row.// -->






