@model Ritmus.ShoppingCart.MvcWebUI.Models.CategoryListViewModel

@foreach (var category in Model.Categories)
{
    var css = "";
    if (category.CategoryId == Model.CurrentCategory)
    {
        css += " active";
    }

    <li class="@css">
        <a href="/product/index?category=@category.CategoryId">@category.CategoryName</a>
    </li>
}

<br />